header {
  z-index: 9001;
  width: 100vw;
  height: 150px;
  position: fixed;
  top: 0;
  background: rgb(100, 123, 143);
  color: rgba(255,255,255,1);
}

header .container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-flow: row nowrap;  
  align-items: center;
}

header .container > div {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
}

header h1 {
  margin: 1rem 0 0 0;
}
header h3 {
  margin: 0;
}

nav {
  margin-top: .5rem;
}

nav a {
  color: rgba(255,255,255,.7);
  border-bottom: 3px solid rgba(200, 223, 243,.5);
  margin-right: .5rem;
}
nav a:hover {
  color: rgba(255,255,255,1);
  border-bottom: 3px solid rgba(200, 223, 243,.8);
}
.active {
  color: #fff;
}
.active:hover {
  color: #fff;
}

@media screen and (max-width: 720px) {
  header {
    height: 100px;
  }

  header > div {
    padding: .5rem 1rem;
  }

  header .logo {
    height: 70px;
    margin-right: 1rem;
  }

  header h1 { font-size: 2rem; }
  header h3 { font-size: 1rem; }
}
