header {
  z-index: 9001;
  width: 100vw;
  height: 150px;
  position: fixed;
  top: 0;
  background: rgb(100, 123, 143);
  color: rgba(255,255,255,.7);
}

header > div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row nowrap;  
  align-items: center;
}

header h1,
header h3 {
  margin: 0;
}

@media screen and (max-width: 720px) {
  header {
    height: 100px;
  }

  header > div {
    padding: .5rem 1rem;
  }

  header .logo {
    height: 70px;
    margin-right: 1rem;
  }

  header h1 { font-size: 2rem; }
  header h3 { font-size: 1rem; }
}
